/* by Josue Avalos, Manuel Araniva y Fabiola Martinez
1. Posicionamiento
2. Modelo de caja
3. Fuentes
4. Visuales
5. Otros
*/

:root {
 /* Variables */
 /* CSS HEX */
 --Aqua: #16aab2ff;
 --Verde: #9ebb27ff;
 --Amarrillo: #f0c62aff;
 --Negro: #0b2030ff;
 --Naranja: #e6753dff;
 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html {
    font-size: 62.5%;    
}

body{
    background-color: var(--Naranja);
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    text-align: center;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container-fluid{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#menu ul li a:hover {
  background-color: #16aab2ff;
  border-radius: 0.3rem;
}

.navbar-brand {
  font-size: 1.7rem;
}

.navbar-nav a {
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.imgCarrusel{
    height: 50rem;
    width: 25rem;;
}

.tituloSlide
{
    font-size: 40px;
}

.textoCarrusel{
    font-size: 25px;
}

.card-title{
    font-size: 25px;
}

.card-text{
    font-size: 15px;
}
