/* by Josue Avalos, Manuel Araniva y Fabiola Martinez
1. Posicionamiento
2. Modelo de caja
3. Fuentes
4. Visuales
5. Otros
*/

:root {
  /* Variables */
  /* CSS HEX */
  --Aqua: #16aab2ff;
  --Verde: #9ebb27ff;
  --Amarrillo: #f0c62aff;
  --Negro: #0b2030ff;
  --Naranja: #e6753dff;
  --blanco: #fbfbf2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--blanco);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  text-align: center;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 1;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

#menu ul li a:hover {
  background-color: #16aab2ff;
  border-radius: 0.3rem;
}

.navbar-brand {
  font-size: 1.7rem;
}

.navbar-nav a {
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.imgCarrusel {
  height: 50rem;
  width: 25rem;
}

.tituloSlide {
  font-size: 40px;
}

.textoCarrusel {
  font-size: 25px;
}

.card-title {
  font-size: 23px;
}

.card-text {
  font-size: 15px;
}

.cardFoto {
  height: 350px;
}

.card {
  margin-bottom: 15px;
  height: auto;
  background: #fff;
  transition: all 0.3s;
}

.one:hover {
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.one:hover + .card {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.btn-card {
  font-size: 15px;
  background-color: #16aab2ff;
  border-color: #16aab2ff;
}

.btn-card:hover {
  background-color: gray;
  border-color: gray;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cards-container .card {
  margin: 10px;
}

.cards-container .card-body .btn {
  width: 100%;
}
