/* by Josue Avalos, Manuel Araniva y Fabiola Martinez
1. Posicionamiento
2. Modelo de caja
3. Fuentes
4. Visuales
5. Otros
*/

:root {
  /* Variables */
  /* CSS HEX */
  --Aqua: #16aab2ff;
  --Verde: #9ebb27ff;
  --Amarrillo: #f0c62aff;
  --Negro: #0b2030ff;
  --Naranja: #e6753dff;
  --blanco: #fbfbf2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--blanco);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  text-align: center;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 1;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

#menu ul li a:hover {
  background-color: #16aab2ff;
  border-radius: 0.3rem;
}

.navbar-brand {
  font-size: 1.7rem;
}

.navbar-nav a {
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.container {
  text-align: center;
}

.container-title {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
}

.card-title.principal {
  font-size: 2.3rem;
}

.card-text.principal {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardFoto.principal {
  height: 350px;
  object-fit: cover;
}

.card.principal {
  margin: 10px;
  height: 450px;
  background-color: transparent;
  border: none;
  box-shadow: 5px 5px 2px 5px rgb(228, 222, 222);
  border-radius: 10px;
  overflow: hidden;
}

.cards-container.principal {
  display: flex;
  flex-wrap: wrap;
}

.title-center.principal {
  text-align: center;
  text-decoration: none;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  height: auto;
}

.card.mb-12.col-md-12 {
  margin: 20px 0;
}

.card.mb-12.col-md-12 .card-title {
  font-size: 2rem;
  line-height: normal;
}

.card.mb-12.col-md-12 .card-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
}

.card.mb-12.col-md-12 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.btn-card {
  font-size: 20px;
  background-color: #e6753dff;
  border-color: #e6753dff;
  outline: none;
}
.btn-card:hover {
  background-color: indianred;
  border-color: indianred;
  outline: none;
}
.btn-card:focus {
  background-color: indianred;
  border-color: indianred;
  outline: none;
}

.links {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.tel-link {
  font-size: 15px;
}

.Calificacion {
  width: 30px;
  font-size: 2rem;
}

.fa {
  float: left;
  text-decoration: none;
  color: orange;
}

