<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/food.css">
    <title>El explorador | Inicio</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-md-block">El Explorador </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="navbar-brand d-md-none .d-lg-block" href="#">El Explorador |</a>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Sitios turisticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Hoteles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Restaurantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Comida típica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tradiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="container-title title-center">Comida típica salvadoreña</h1>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/sopa-pata-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sopa de pata</h5>
                            <p class="card-text"> Su nombre se debe a que uno de los ingredientes que proporciona el caldo, son las patas de vaca, así como los callos o tripas; a veces suele sazonarse con zumo de limón y chile.
                            </p>
                            <a href="#" class="btn btn-primary btn-card" data-toggle="modal" data-target="#ModalSopa">Ver la receta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/pupusas-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pupusas</h5>
                            <p class="card-text">La pupusa es una tortilla gruesa a base de masa de maíz o de arroz rellena con uno o más ingredientes, como queso, chicharrón, ayote, frijoles refritos, loroco, etc.​
                            </p>
                            <a href="#" class="btn btn-primary btn-card" data-toggle="modal" data-target="#ModalSopa">Ver la receta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/elote-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Elote loco</h5>
                            <p class="card-text">El elote loco, literalmente “maíz loco”, es una mazorca entera de maíz dulce, cocida o asada, cubierta con mayonesa, mostaza, salsa negra (o salsa inglesa), kétchup y queso, que es muy popular en El Salvador.
                            </p>
                            <a href="#" class="btn btn-primary btn-card" data-toggle="modal" data-target="#ModalSopa">Ver la receta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/yuca-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Yuca frita</h5>
                            <p class="card-text">La yuca con chicharrón salvadoreña también se puede servir con pepescas o fritada en lugar de los chicharrones.
                            </p>
                            <a href="#" class="btn btn-primary btn-card" data-toggle="modal" data-target="#ModalSopa">Ver la receta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/empanadas-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Empanadas de plátano</h5>
                            <p class="card-text">Riquísimos pastelitos a base de plátano maduro cocido que pueden ser rellenas de leche con maicena y canela o con frijoles molidos.
                            </p>
                            <a href="#" class="btn btn-primary btn-card" data-toggle="modal" data-target="#ModalSopa">Ver la receta</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/sopa-gallina-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sopa de gallina india</h5>
                            <p class="card-text">Es un plato típico salvadoreño fácil de hacer y muy económico que lo convierte en un plato popular.
                            </p>
                            <a href="#" class="btn btn-primary btn-card" data-toggle="modal" data-target="#ModalSopa">Ver la receta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="ModalSopa">
        ...
      </div>
</body>
<script src="../../js/bootstrap.min.js"></script>

</html>