<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/food.css">
    <title>El explorador | Inicio</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-md-block">El Explorador </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="navbar-brand d-md-none .d-lg-block" href="#">El Explorador |</a>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="sites.html">Sitios turisticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="hotels.html">Hoteles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="restaurants.html">Restaurantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="food.html">Comida típica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="events.html">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="traditions.html">Tradiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="container-title title-center">Comida típica salvadoreña</h1>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/sopa-pata-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sopa de pata</h5>
                            <p class="card-text"> Su nombre se debe a que uno de los ingredientes que proporciona el caldo, son las patas de vaca, así como los callos o tripas; a veces suele sazonarse con zumo de limón y chile.
                            </p>
                            <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#sopaPata">
                                Ver la receta
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/pupusas-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pupusas</h5>
                            <p class="card-text">La pupusa es una tortilla gruesa a base de masa de maíz o de arroz rellena con uno o más ingredientes, como queso, chicharrón, ayote, frijoles refritos, loroco, etc.​
                            </p>
                            <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#pupusas">
                                Ver la receta
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/elote-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Elote loco</h5>
                            <p class="card-text">El elote loco, literalmente “maíz loco”, es una mazorca entera de maíz dulce, cocida o asada, cubierta con mayonesa, mostaza, salsa negra (o salsa inglesa), kétchup y queso, que es muy popular en El Salvador.
                            </p>
                            <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#eloteLoco">
                                Ver la receta
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <img src="../../resources/img/empanadas-comida.jpg" class="card-img-top cardFoto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Empanadas de plátano</h5>
                            <p class="card-text">Riquísimos pastelitos a base de plátano maduro cocido que pueden ser rellenas de leche con maicena y canela o con frijoles molidos.
                            </p>
                            <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#empanadas">
                                Ver la receta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modales-->s
          <!--2-->
          <div class="modal fade" id="pupusas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Pupusas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">Ingredientes</h4>
                  <ul >
                    <li>1/2 lb masa de maíz o arroz molido</li>
                    <li>Agua</li>
                    <li>Sal al gusto</li>
                    <li>Relleno: queso, frijoles, pollo, carne (opcionales)</li>
                  </ul>
                  <h4 class="modal-title">Procedimiento</h4>
                  <ol>
                      <li>Antes de preparar la masa, se debe disponer la plancha y se unta un poco de aceite para evitar que las pupusas se peguen.</li>
                      <li>Se prepara la harina, la cual se revuelve con agua tibia para formar la masa. Se amasa lo suficiente, y le damos la forma de una tortilla. Al estar listo, colocamos las puposas en la plancha por aproximadamente 5 minutos.</li>
                      <li>En una mesa, colocamos las puposas junto a los ingredientes que gusten para acompañarlas. Por general se agrega queso, frijoles, carne, pollo. Queda a su gusto. </li>
                      <li>No debe agregar mucho relleno, ya que la masa debe cerrar y no queremos que los ingredientes rebosen.</li>
                      <li>Esta entrada debe acompañarse de un curtido o salsa de tomate.</li>
                      <li>Listo. Nos disponemos a degustar.</li>
                  </ol>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!--3-->
          <div class="modal fade" id="sopaPata" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Sopa de pata</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">Ingredientes</h4>
                  <ul >
                    <li>2 Patas enteras de vaca troceadas en 5 partes cada unao</li>
                    <li>1,5 kg de callos de res</li>
                    <li>2,25 l de agua</li>
                    <li>1 cabeza de ajo</li>
                    <li>2 cucharadas de achiote</li>
                    <li>300 ml de caldo de carne</li>
                    <li>4 chayotes , cortados en trozos</li>
                    <li>1 cucharadita de orégano</li>
                    <li>4 kg de yuca pelada y cortada en trozos</li>
                    <li>2 tomates , pelados, sin semillas y triturados</li>
                    <li>1 pimiento verde picante , picado</li>
                    <li>4 mazorcas de maíz , cortadas en trozos grandes</li>
                    <li>1 col pequeña , cortada en trozos</li>
                    <li>4 cucharadas de cilantro mexicano , finamente picado</li>
                    <li>3 cebollas</li>
                    <li>Sal</li>
                  </ul>
                  <h4 class="modal-title">Procedimiento</h4>
                  <ol>
                      <li>Lave las patas de res y sumérjalas durante 20 minutos en un gran volumen de agua salada muy fría con limón o vinagre.</li>
                      <li>Hiérvalas a fuego alto durante 5 minutos y escúrralas. Reserve.</li>
                      <li>Lave bien los callos frotándolos vigorosamente bajo un chorro de agua fría y déjelos remojar durante 20 minutos en un gran volumen de agua salada muy fría con limón o vinagre.</li>
                      <li>Hiérvalos a fuego alto durante 5 minutos y escúrralos.</li>
                      <li>Luego hierva nuevamente 2 veces durante 5 minutos y escurra. Reserve.</li>
                      <li>Luego hierva nuevamente 2 veces durante 5 minutos y escurra. Reserve.</li>
                      <li>Tape la olla a presión, colóquela a fuego medio-alto, hasta que el vapor comience a salir; coloque el regulador de presión y cuando comience a vibrar, baje el fuego y cocine durante una hora a fuego bajo a medio.</li>
                      <li>Abra la olla a presión, agregue los callos y cúbralo todo con agua hirviendo.</li>
                      <li>ape la olla a presión, póngala a fuego medio a alto, hasta que el vapor comience a salir, coloque el regulador de presión y cuando comience a vibrar, baje el fuego y cocine durante una hora a fuego bajo a medio.</li>
                      <li>Agregue el achiote, el orégano, el cilantro y el caldo de carne, revuelva y agregue las verduras en el siguiente orden: Primero la mandioca y los chayotes, añada pimienta, tape y cocine durante 15 minutos.</li>
                      <li>A continuación, agregue la col, el pimiento picante, los tomates, los trozos de maíz y cocine durante 15 minutos, tapado.</li>
                      <li>Ajuste los condimentos.</li>
                      <li>Sirva la sopa de pata muy caliente, acompañada de jugo de lima, cilantro mexicano y chile en polvo, al gusto.</li>
                  </ol>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!--4-->
          <div class="modal fade" id="empanadas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Empanadas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">Ingredientes</h4>
                  <ul >
                   <li>3 plátanos maduros</li>
                   <li>1/4 de cartón de leche</li>
                   <li>1/2 taza de maicena</li>
                   <li>4 onzas de azúcar</li>
                   <li>Trocitos de canela</li>
                  </ul>
                  <h4 class="modal-title">Procedimiento</h4>
                  <ol>
                      <li>Primero se lavan los plátanos y se les cortan las puntas, una vez limpios se colocan en una olla con agua y se ponen a hervir en un aproximado de 10 minutos.</li>
                      <li>Cuando se tienen los plátanos cocidos se dejan enfriar sin agua y se les quita la cáscara.</li>
                      <li>Con un tenedor estrujamos los plátanos con cuidado, hasta que quede una pasta consistente. Poner la mezcla en un recipiente aparte.</li>
                      <li>Para hacer el relleno, agregamos en un recipiente la leche y poco a poco agregar la maicena revolviendo con un tenedor o batidora hasta que quede una mezcla sin grumos.</li>
                      <li>No importa si está demasiado líquida, poner en una olla a fuego lento y remover suavemente, agregando el azúcar poco a poco junto a los trocitos de canela.</li>
                      <li>Después de unos minutos la mezcla comenzará a tomar consistencia pastosa, al romper el primer hervor retirar del fuego y dejar enfriar.</li>
                      <li>Tomar una cantidad de plátano molido equivalente a 2 cucharadas (Remojar las manos en agua para evitar que se pegue la mezcla en los dedos).</li>
                      <li>Estirar un poco la mezcla y hacer un hueco al centro para colocar una cucharadita de manjar. Con cuidado, cerrar la empanada tratando de que no se salga el relleno que hemos colocado.</li>
                      <li>Darle forma a la empanada y colocar en una bandeja con papel mantequilla para que no se pegue la mezcla.</li>
                      <li>En una sartén poner abundante aceite y calentar durante 2 minutos, una a una, colocar las empanadas con cuidado que no se revienten.</li>
                      <li>Dejar freír por ambos lados girándolas con una cuchara. Sacar del aceite y colocar en papel absorbente.</li>
                      <li>Una vez frías y para servir, colocar en un recipiente azúcar y rebozar las empanadas de ambos lados. Finalmente, acompañar con café, y buen provecho.</li>
                  </ol>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!--5-->
          <div class="modal fade" id="eloteLoco" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Elotes Locos</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">Ingredientes</h4>
                  <ul >
                      <li>4 elotes amarillos</li>
                      <li>Queso rayado</li>
                      <li>Mayonesa</li>
                      <li>Salsa negra</li>
                      <li>Salsa kétchup</li>
                      <li>Mostaza</li>
                      <li>Palillos grandes</li>
                  </ul>
                  <h4 class="modal-title">Procedimiento</h4>
                  <ol>
                      <li>Primero limpie bien los elotes. Debe pelarlos y remover la seda. Una vez pelados y limpios, monte en la cocina una olla grande con suficiente agua.</li>
                      <li>Al empezar a hervir el agua, eche los elotes que desee. Dejamos cocinar alrededor de 15 minutos a fuego medio.</li>
                      <li>Sacamos y dejamos escurrir los elotes. Con un cuchillo abrimos un agujero en la parte baja del elote, hay que tener mucho cuidado de no cortarse los dedos.</li>
                      <li>Insertamos el palito alargado que servirá de base para sostener nuestro manjar, y con una espátula o brocha de cocina, untamos la mayonesa en todo el elote, después agregamos la mostaza, la salsa negra y la salsa kétchup a su gusto.</li>
                      <li>Finalmente, agréguele queso rallado encima de las salsas.</li>
                      <li>Listo. Nos disponemos a degustar.</li>
                  </ol>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
    </main>

    
</body>
<script src="../../js/bootstrap.min.js"></script>

</html>