<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../css/sites.css">
    <title>El explorador | Sitios</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-md-block">El Explorador </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="navbar-brand d-md-none .d-lg-block" href="#">El Explorador |</a>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Sitios turisticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Hoteles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Restaurantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Comida típica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tradiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="container-title title-center">Hoteles</h1>
            <div class="cards-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card principal">
                        <img src="../../resources/img/hotel-hoteles.jpg"
                            class="card-img-top cardFoto principal" alt="...">
                        <div class="card-body principal">
                            <h5 class="card-title principal">Hoteles</h5>
                            <p class="card-text principal">Conoce los diferentes hoteles con los que cuenta
                                El Salvador
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container card__container">
            <div class="card mb-12 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../resources/img/crowne-plaza-hotele.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hotel Crowne Plaza</h5>
                            <p class="card-text">Queremos asegurarnos de que dispone de todos los datos sobre nuestro establecimiento y sus servicios antes de su llegada para que tenga una estadía satisfactoria desde el principio. Desde la ubicación del establecimiento y estacionamiento
                                 a internet en el hotel, así como servicios de lavandería, encontrará toda la información relevante que necesita para hacer que su estadía sea cómoda y productiva.</p>
                                 <a href="https://goo.gl/maps/VaLz4t2UacAu8YYM6" class="links"><i class="bi bi-geo-alt-fill">Hoteles Y Servicios Turisticos S.A, 89 Ave. Norte Y, 11 Calle Pte, San Salvador</i></a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                           <a href="https://www.ihg.com/crowneplaza/hotels/us/es/reservation"> 
                            <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#sopaPata">
                                Hacer una reserva
                              </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-12 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../resources/img/sheraton-hoteles.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hotel Sheraton Presidente</h5>
                            <p class="card-text">Renueve energías en la piscina, reúnase en el bar y disfrute de un servicio atento, como el servicio de traslado entre 
                                el aeropuerto y el hotel, a pocos pasos de las mejores tiendas de San Salvador.</p>
                                <a href="https://goo.gl/maps/dDFr77yBT2pXVxr8A" class="links"><i class="bi bi-geo-alt-fill">Ave. La Revolución, Col. San Benito, San Salvador, El Salvador</i></a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="https://www.espanol.marriott.com/hotels/travel/salsi-sheraton-presidente-san-salvador-hotel/"> 
                                <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#sopaPata">
                                    Hacer una reserva
                                  </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-12 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../resources/img/barcelo-hoteles.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hotel Barceló</h5>
                            <p class="card-text">El hotel Barceló San Salvador ofrece una estancia novedosa en El Salvador con una ubicación inmejorable en la capital del país, 
                                cerca del nuevo centro comercial Bambu City Center, inaugurado en enero de 2020, y 
                                cerca de los centros comerciales Multiplaza, Cascadas y Gran Vía. y el fabuloso Museo de Arte de la ciudad.
                                A solo 45 minutos del Aeropuerto Internacional de El Salvador, es la mejor opción para viajes de negocios, debido a su ubicación en el corazón del distrito empresarial y social de San Benito, y junto al Centro de Convenciones y Congresos (CIFCO).</p>
                                <a href="https://g.page/BarceloSanSalvador?share" class="links"><i class="bi bi-geo-alt-fill">Bulevar Del Hipodromo, San Salvador</i></a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="https://www.barcelo.com/en-ww/barcelo-san-salvador/"> 
                                <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#sopaPata">
                                    Hacer una reserva
                                  </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-12 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../resources/img/intercontinental-hoteles.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hotel Intercontinental</h5>
                            <p class="card-text">El hotel Barceló San Salvador ofrece una estancia novedosa en El Salvador con una ubicación inmejorable en la capital del país, 
                                cerca del nuevo centro comercial Bambu City Center, inaugurado en enero de 2020, y 
                                cerca de los centros comerciales Multiplaza, Cascadas y Gran Vía. y el fabuloso Museo de Arte de la ciudad.
                                A solo 45 minutos del Aeropuerto Internacional de El Salvador, es la mejor opción para viajes de negocios, debido a su ubicación en el corazón del distrito empresarial y social de San Benito, y junto al Centro de Convenciones y Congresos (CIFCO).</p>
                                <a href="https://g.page/BarceloSanSalvador?share" class="links"><i class="bi bi-geo-alt-fill">Bulevar Del Hipodromo, San Salvador</i></a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="https://www.barcelo.com/en-ww/barcelo-san-salvador/"> 
                                <button type="button" class="btn btn-primary btn-card " data-bs-toggle="modal" data-bs-target="#sopaPata">
                                    Hacer una reserva
                                  </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../../js/bootstrap.min.js"></script>

</html>