<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/restaurant.css">
    <link rel="stylesheet" href="../../css/all.css">
    <title>El explorador | Restaurantes</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-md-block">El Explorador </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="navbar-brand d-md-none .d-lg-block" href="#">El Explorador |</a>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="sites.html">Sitios turisticos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="hotels.html">Hoteles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Restaurantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="food.html">Comida típica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tradiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://images.otstatic.com/prod/24994007/1/huge.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">Tony Roma's</h5>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">Ubicado en el suburbio de San Benito, Tony Roma's en Bulevar Del Hipodromo
                            777 se enorgullece de ser conocido como THE
                            Place for Ribs. Si bien somos legendarios por las costillas, ¡somos famosos por mucho más!
                            Desde filetes a la parrilla a
                            la leña hasta comida reconfortante con un toque diferente, nuestro menú se centra en platos
                            de alta calidad para
                            satisfacer sus antojos.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://alpomodoro.com.sv/wp-content/uploads/2020/08/bioseguridad.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Al Pomodoro</h5>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">La comida de Italia no se basa en la innovación sino en la constancia. A
                            los italianos les gusta comer platos locales,
                            sus queridas recetas del terruño, y el resultado es una continuidad real con el pasado,
                            donde las mujeres todavía elaboran la pasta fresca para el almuerzo y florecen las pequeñas
                            trattorias que sirven
                            especialidades regionales en medio de un bullicio de personas y familia.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://i.ytimg.com/vi/xt5K2PLvWpY/maxresdefault.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">El Cadejo</h5>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">Somos una cervecería independiente enfocada en calidad más que en cantidad.
                            Hacemos cerveza con pasión y queremos
                            acercar a nuestros consumidores la diversidad que existe en el mundo de la cerveza.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="http://restauranteslapampa.com/wp-content/uploads/2016/02/contacto-03.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">La Pampa</h5>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">La Pampa es reconocida por la calidad de sus platos y precios altamente
                            competitivos. El negocio tuvo una gran
                            aceptación del Mercado, y es por esto que año con año La Pampa se ha expandido en distintos
                            puntos del país, contando
                            con 18 sucursales dentro de la región centroamericana.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/cb/2e/d4/ta-img-20180721-142643.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Los Balcones</h5>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">Los Balcones Buffet se encuentra en Departamento de La Paz (El Salvador). Esta empresa se desempeña en la siguiente
                        industria: Restaurantes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="http://www.haciendareal.net/gt/wp-content/uploads/2015/04/Franquicias.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hacienda Real</h5>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">Le damos la bienvenida al único hotel de marca internacional localizado contiguo al Puerto de La Unión, el más nuevo de
                        Centroamérica. A solo 5 km de la ciudad de La Unión, cerca del volcán Conchagua, el pueblo y la iglesia católica más
                        antigua del país construida en 1963. Se encuentra cerca de las playas más hermosas de la costa del Pacífico en El
                        Salvador como Las Tunas, Playa Negra, El Cuco y El Tamarindo. Usted puede tomar un tour por el Golfo de Fonseca y
                        visitar las bellas y tranquilas playas de la Isla Meanguera o Isla Martín Pérez.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/all.min.js"></script>

</html>