<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="../../css/login.css">
  </head>
  <body>
    <section class="form-login">
      <h5>Recuperar contraseña</h5>
      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
      <input class="controls" type="password" name="contrasenaold" value="" placeholder="Contraseña Anterior">
      <input class="controls" type="password" name="contrasenanew" value="" placeholder="Contraseña Nueva">
      <input class="controls" type="password" name="contrasenanew1" value="" placeholder="Contraseña Nueva Confirmacion">
      <a href="#"><input class="buttons" type="submit" name="" value="Cambiar" ></a>
      <p><a href="../public/login.html">Login</a></p>

    </section>

  </body>
</html>
