<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../css/sites.css" />
    <title>El explorador | Tradiciones</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand d-none d-md-block">El Explorador </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu"
            aria-controls="menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <a class="navbar-brand d-md-none .d-lg-block" href="#"
              >El Explorador |</a
            >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="sites.html"
                  >Sitios turisticos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="hotels.html"
                  >Hoteles</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="restaurants.html"
                  >Restaurantes</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="food.html"
                  >Comida típica</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="events.html"
                  >Eventos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="traditions.html"
                  >Tradiciones</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <h1 class="container-title title-center">Tradiciones salvadoreñas</h1>
        <div class="cards-container">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card principal">
              <img
                src="../../resources/img/tradiciones.jpg"
                class="card-img-top cardFoto principal"
                alt="..."
              />
              <div class="card-body principal">
                <h5 class="card-title principal">Tradiciones</h5>
                <p class="card-text principal">
                  Conoce las diferentes tradiciones de la cultura salvadoreña
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container card__container">
        <div class="card mb-12 col-md-12">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../resources/img/difuntos-tradiciones.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Día de los Santos Difuntos.</h5>
                <p class="card-text">
                  El día 2 de Noviembre es muy importante para la mayoría de los
                  salvadoreños, ya que forma parte de nuestras tradiciones, las
                  personas asisten a los cementerios para dedicarle tiempo a los
                  seres queridos que se han marchado y han dejado de ser parte
                  de este mundo.
                  <br />
                  Podemos observar cada año grandes cantidades de personas
                  enflorando y a pesar de ser la muerte de los seres queridos
                  que se recuerdan, se ha convertido en una fiesta muy popular.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-12 col-md-12">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../resources/img/semanasanta-tradiciones.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Semana Santa</h5>
                <p class="card-text">
                  Es una de las tradiciones mas importantes de nuestro país, la
                  devoción de los feligreses católicos se desborda para adornar
                  a nuestro Señor Jesucristo, acompañado de procesiones y
                  diferentes actos religiosos, las personas reviven la pasión y
                  muerte de Jesús hijo de María Santísima.Uno de los detalles
                  que enriquecen la Semana Mayor son las alfombras elaboradas a
                  mano, estas embellecen la representación del camino que
                  Jesucristo recorrió antes de ser crucificado.
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-12 col-md-12">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../../resources/img/bolas-tradiciones.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Bolas de Fuego</h5>
                  <p class="card-text">
                    Consiste en que grupos de jóvenes se lanzan bolas elaboradas con tela, amarradas con alambre y bañadas con gas o gasolina. A esto le prenden fuego y comienza la celebración.<br>

                    Existen muchas versiones acerca del origen de esta tradición que se realiza al amanecer del 1 de septiembre. Se refiere a la lucha entre el patrono de Nejapa, San Jerónimo Doctor y el diablo, así como la erupción del volcán de San Salvador. Estas son las dos historias populares que algunos pobladores relacionan con la celebración.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>
  </body>
  <script src="../../js/bootstrap.min.js"></script>
</html>
